<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#eaf7f8] min-h-screen flex">
    <!--nav bar-->
    <aside class="w-64 bg-[#8fc5bc] flex flex-col p-5">
        <h1 class="text-4xl font-bold mb-6 leading-none">
            <span class="text-blue-900">MED</span><span class="text-blue-400">FLOW</span></h1>
    </aside>
    <div>
        <!--main contain three top box for done wait total then next row is triage as box chart then view detail button-->
    </div>
</body>
</html>