<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-[#EAF7F8] min-h-screen flex">
    <!--side bar-->
    <aside class="w-64 bg-gradient-to-b from-[#7FCBC3] to-[#6ABEB6] flex flex-col p-5">
        <h1 class="text-4xl font-bold mb-6 leading-none">
            <span class="text-blue-900">MED</span><span class="text-blue-400">FLOW</span>
        </h1>
        <!--
        <div class="bg-white rounded-full px-4 py-2 mb-8 shadow">
          Welcome, เด่วมาลอง เพิ่มชื่อuserที่กรอกดู
        </div>
        -->
        <nav class="space-y-3 flex-1">
            <a href="dashboard.html" class="flex items-center gap-3 bg-white/70 backdrop-blur rounded-xl px-4 py-3 shadow-sm border border-white">
                <i data-lucide="home" class="w-5 h-5"></i>
                <span class="font-semibold text-xl">Dashboard</span>
            </a>
            <a href="add_patient.html" class="flex items-center gap-3 px-4 py-2 rounded-xl hover:bg-white/40 transition">
                <i data-lucide="user-plus" class="w-5 h-5"></i>
                <span class="font-semibold text-xl">Add Patient</span>
            </a>
            <a href="edit.html" class="flex items-center gap-3 px-4 py-2 rounded-xl hover:bg-white/40 transition">
                <i data-lucide="user-pen" class="w-5 h-5"></i>
                <span class="font-semibold text-xl">Edit</span>
            </a>
            <a href="status.html" class="flex items-center gap-3 px-4 py-2 rounded-xl hover:bg-white/40 transition">
                <i data-lucide="user-round-check" class="w-5 h-5"></i>
                <span class="font-semibold text-xl">Update status</span>
            </a>
        </nav>
        <div class="pt-4 border-t border-white/30">
            <a href="login.html"
            class="flex items-center gap-3 px-4 py-3 rounded-xl text-red-700 hover:bg-red-500/10 transition">
            <i data-lucide="log-out" class="w-5 h-5"></i>
            <span class="font-semibold text-xl">Log out</span>
        </a>
        </div>
    </aside>
    <!--main content-->
    <main class="flex-1 p-6">
        <section class="bg-white/40 background-blur-xl rounded-3xl p-8 shadow-xl border border-white/30 min-h-full">
            <h1 class="mt-2 text-3xl px-4 py-1 rounded-xl text-black font-bold">DASHBOARD</h1> <!--เปลี่ยนฟ้อน-->
            <div class="mt-2 h-1 w-25 rounded-full bg-teal-600 "></div>
            <!--3 cards-->
            <div class="mt-4 grid grid-cols-3 gap-6">
                <div class="rounded-2xl bg-blue-100 p-6 shadow-sm">
                    <p class="text-sm text-gray-600">Total</p>
                    <p class="mt-1 text-3xl font-semibold text-gray-900 ">99</p>
                </div>
                <div class="rounded-2xl bg-blue-100 p-6 shadow-sm">
                    <p class="text-sm text-gray-600">Waiting</p>
                    <p class="mt-1 text-3xl font-semibold text-gray-900">99</p>
                </div>
                <div class="rounded-2xl bg-blue-100 p-6 shadow-sm">
                    <p class="text-sm text-gray-600">Done</p>
                    <p class="mt-1 text-3xl font-semibold text-gray-900">99</p>
                </div>
            </div>
            <!--ตรงนิอยากลองreactถ้าทัน ไม่ทันเด่วมาแก้-->
            <!--tabbed--table-->
            <div class="border-b border-gray-200 py-2">
                <nav class="flex gap-8 px-6">
                
                <!-- ALL -->
                <button class="relative px-5 py-2 text-sm font-semibold bg-white text-teal-700 rounded-t-lg border border-gray-300 border-b-white -mb-px transition-all duration-200">
                All
                </button>

                <!-- BLUE -->
                <button class="relative px-5 py-2 text-sm font-semibold bg-white text-teal-700 rounded-t-lg border border-gray-300 border-b-white -mb-px transition-all duration-200">
                Green
                </button>

                <!-- GREEN -->
                <button class="relative px-5 py-2 text-sm font-semibold bg-white text-teal-700 rounded-t-lg border border-gray-300 border-b-white -mb-px transition-all duration-200">
                Blue
                </button>

                <!-- RED -->
                <button class="relative px-5 py-2 text-sm font-semibold bg-white text-teal-700 rounded-t-lg border border-gray-300 border-b-white -mb-px transition-all duration-200">
                Red
                </button>

                <!-- BLACK -->
                <button class="relative px-5 py-2 text-sm font-semibold bg-white text-teal-700 rounded-t-lg border border-gray-300 border-b-white -mb-px transition-all duration-200">
                Black
                </button>

                </nav>
            </div>





        </section>
    </main>


    <script>
        lucide.createIcons();
    </script>


</body>
</html>