<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Register User</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex items-center justify-center font-sans leading-relaxed min-h-screen bg-[#EAF7F8] flex-col m-0">
    <div class="bg-white rounded-lg shadow-lg p-10 w-full max-w-md text-center">

        <h1 class="text-4xl font-bold mb-6 leading-none">
            <span class="text-[#1F3B5B]">REGISTER</span>
        </h1>

        {% if error %}
        <p class="text-red-500 font-semibold mb-4">{{ error }}</p>
        {% endif %}

        <form method="POST" class="space-y-4">
            <input 
                name="username" 
                placeholder="Username" 
                required 
                class="w-full mb-4 px-4 py-3 text-center border-2 border-blue-200 rounded-lg
                focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-200
                placeholder:text-blue-300">
            <input 
                name="password" 
                type="password" 
                placeholder="Password" 
                required 
                class="w-full mb-4 px-4 py-3 text-center border-2 border-blue-200 rounded-lg
                focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-200
                placeholder:text-blue-300">

            <select 
                name="role" 
                class="w-full mb-4 px-4 py-3 text-center border-2 border-blue-200 rounded-lg
                focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-200
                placeholder:text-blue-300">
            <option value="staff">Staff</option>
            <option value="admin">Admin</option>
            </select>

            <button 
                type="submit"
                class="w-full py-3 mt-6 text-white font-semibold rounded-lg
                bg-gradient-to-l from-[#2FA4D9] to-[#7FCBC3]
                shadow-lg hover:shadow-xl hover:scale-[1.02] transition">
                Create User
            </button>
</form>
</div>

</body>
</html>
